body{
    background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
svg{
    width: 20px;
    height: 20px;
   
    color:rgba(34,193,195,1);
}
 h2{
    display: flex;
    justify-content: center;
 }
footer{
    float: right;
}
.feature-icon{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}